<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <!-- Mise à jour de l'action pour pointer vers la vue de connexion de 'accounts' -->
        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %} <!-- Token CSRF pour la sécurité -->
            <h2>Connexion</h2><br>

            <!-- Affichage des messages d'erreur -->
            {% if form.errors %}
                <p class="error">Nom d'utilisateur ou mot de passe incorrect!</p>
            {% endif %}

            <div class="input-group">
                <input type="text" name="username" required>
                <label>Nom d'utilisateur</label>
            </div>
            <br>
            <div class="input-group">
                <input type="password" name="password" required>
                <label>Mot de passe</label>
            </div>
            <button type="submit">Se connecter</button>
        </form>
    </div>
</body>
</html>
