<!-- get_all_absences.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Absences</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'absences/css/styles.css' %}">
</head>
<body>
    <div class="logout">
        <a href="{% url 'accounts:logout' %}" class="logout-button">Logout</a>
    </div>
    <div class="container">
        <h1>Liste des Absences</h1>

        <label for="teacherFilter">Filtrer par enseignant:</label>
        <select id="teacherFilter">
            <option value="">--Choisir un enseignant--</option>
        </select>

        <label for="subjectTypeFilter">Filtrer par type:</label>
        <select id="subjectTypeFilter">
            <option value="">--Choisir un type--</option>
            <option value="CM">CM</option>
            <option value="TD">TD</option>
            <option value="TP">TP</option>
            <option value="Projets">Projets</option>
        </select>

        <label for="classroomFilter">Filtrer par classe:</label>
        <select id="classroomFilter">
            <option value="">--Choisir un classe--</option>
        </select>

        <table id="absencesTable">
            <tr>
                <th>Matière</th>
                <th>Type</th>
                <th>Classe</th>
                <th>Enseignant</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Justification</th>
            </tr>
        </table>
    </div>

    {% load static %}
    <script src="{% static 'absences/js/absences.js' %}"></script>
        
</body>
</html>